* {
  margin: 0px;
  padding: 0px;
}

.navcontainer {
  width: 100%;
  background-color: black;
  padding: 20px;
}

.nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.logo {
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

.bars-white {
  color: white;
}
#nav-toggle, .burger-menu {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .burger-menu {
    display: inline-block;
  }
  .leftmenu {
    display: none;
  }
  #nav-toggle:checked ~ .leftmenu {
    display: grid;
    grid-row: 2;
    grid-column: span 3;
  }
  .nav a {
    padding: 10px;
  }
  .nav a:hover {
    background-color: grey;
  }
}
