* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: BigNoodle;
  src: url(fonts/big_noodle_titling.ttf);
}

.container {
  width: 50%;
  padding: 0px;
  margin: 100px auto;
  text-align: center;
  font-family: Calibri;
  font-size: 28px;
}
.module-border-wrap {
  max-width: 100%;
  padding: 1rem;
  position: center;
  background: linear-gradient(to right, red, orange, rgb(0, 255, 4));
  padding: 3px;
}

.module {
  background: white;
  color: black;
  padding: 2rem;
}
.module-results {
  background: white;
  color: black;
  padding: 10px 10px;
}

body {
  background-color: lightblue;
}
.submit-button {
  background: lightblue;
  font-size: 16px;
  font-family: Arial;
  padding: 3px 3px;
  text-align: center;
}
.banner {
  padding: 5px 5px;
}
.title{
  width: 500px;
  margin: 0px auto;
  text-align: center;
  font-family: BigNoodle;
  font-size: 28px;
}
.left {
  background: white;
  font-size: 16px;
  font-family: Arial;
  padding: 3px 3px;
  text-align: left;
}
.return-button {
  background: white;
  font-size: 16px;
  font-family: Arial;
  padding: 3px 3px;
  text-align: left;
}
.text-reply-false {
  color: red;
  text-align: center;
}
.text-reply {
  color: red;
  text-align: center;
}
.input-guess {
  padding: 3px 3px;
  font-size: 16px;
  text-align: left;
}


@media only screen and (max-width: 700px) {
	.container {
    font-size: 24px;
	}
  .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 615px) {
	.container {
    font-size: 20px;
	}
  .title {
    font-size: 20px;
	}
}

@media only screen and (max-width: 550px) {
	.container {
    font-size: 16px;
	}
  .title {
    font-size: 16px;
	}
}
